/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Verkoopoverzicht
        4.3 Best verkochte tv
        4.4 Alle televisies
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(247,148,29,1) 0%, rgba(12,77,162,1) 50%);
}

main section {
    padding: var(--global-margin);
}

img {
    width: 100%;
}

h2 {
    color: var(--text-special-color);
}

.featured_features_icon {
    width: 1rem;
}
/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */



/* --------------- 3.1 Reusables ----------------------- */
:root {
    --global-margin: 2rem 2rem;
    --green-outer-color: #185000;
    --green-inner-color: #99c188;
    --blue-outer-color: #014584;
    --blue-inner-color: #a4c8e9;
    --red-outer-color: #FF0000;
    --red-inner-color: #FAB2B2;
    --global-background-color: #dadde0;
    --header-color: #D3D3D3FF;
    --header-text-color: #0C4DA2;
    --text-special-color: #F7941D;
}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    padding: var(--global-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    color: var(--header-text-color);
}

#special_letter {
    color: var(--text-special-color);
}

#logo {
    width: 200px;
}

/* --------------- 4.2 Verkoopoverzicht ------------------- */

.stock_wrapper {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.stock_article {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;

}

.important_number {
    font-size: 2rem;
}

#number_of_units_sold {
    border: solid var(--green-outer-color);
    color: var(--green-outer-color);
    background-color: var(--green-inner-color);
}

#total_stock_purchased {
    border: solid var(--blue-outer-color);
    color: var(--blue-outer-color);
    background-color: var(--blue-inner-color);
}

#number_of_units_to_sell {
    border: solid var(--red-outer-color);
    color: var(--red-outer-color);
    background-color: var(--red-inner-color);
}
/* --------------- 4.3 Best verkochte tv ------------------- */

.best_selling_unit_article {
    border: dotted;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    background-color: var(--header-color);
}

.best_selling_unit_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 600px;
}

#best_selling_unit_image_wrapper {
    width: 250px;

}

#best_selling_unit_features {
    display: flex;
    gap: 0.5rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
}



/* --------------- 4.4 Alle televisies ------------------- */

#buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.unit_article {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.unit_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 600px;
}

.unit_feature_list_wrapper {
    display: flex;
    gap: 0.5rem;
}

.unit_feature_list {
    list-style-type: none;
}

.unit_feature_list li {
    display: flex;
    gap: 0.5rem;
}

.unit_image_wrapper {
    width: 250px;
}